@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary: #058359;
  --secondary: #ac4425;
  --green: #018749;
}
* {
  font-family: "Poppins", sans-serif !important;
}
.main {
  height: 90vh;
  opacity: 0.8;
  object-fit: cover;
  background-size: 100% 100%;
}
.w-300 {
  width: 400px;
}
.card {
  margin: 20px 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px !important;
  box-shadow: 0px 1px 3px 0px #888888;
}
.card-title strong {
  font-weight: 600;
  font-size: 22px;
  margin: 20px 0px;
  text-align: center;
  color: rgb(0, 0, 128);
}
.card-text {
  padding: 5px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
  line-height: 1.8;
}
input,
select {
  width: 100%;
  border: 1px solid rgb(183, 180, 180);
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  color: rgb(75, 75, 75);
}
input:focus {
  outline: none;
  border: 1px solid rgb(75, 75, 75);
}
label {
  color: #000;
  font-weight: 600;
}
.text-green {
  color: var(--green) !important;
}
.text-2xl {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0px;
}
.text-xl {
  font-size: 25px;
}
.text-lg {
  font-size: 20px;
}
.text-md {
  font-size: 15px;
  font-weight: 200;
}
.text-xs {
  font-size: 12px;
}
b {
  font-weight: 600;
}

/* buttons */
.primary-btn {
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  border-radius: 25px;
  width: 100%;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.secondary-btn {
  background-color: var(--secondary);
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 20px 0px;
  padding: 8px 20px;
  border-radius: 10px;
  width: 25%;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.disabled-btn {
  background-color: gray;
  color: #fff;
  cursor: disabled;
  pointer-events: none;
  border: none;
  margin: 20px 0px;
  padding: 8px 20px;
  border-radius: 10px;
  width: 25%;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.redirect {
  text-align: center;
  font-size: 14px;
  padding: 15px;
  font-weight: 500;
}
.redirect a {
  text-decoration: none;
}
.redirect a:hover {
  color: #007bff;
}

/***** loader/spinner ******/
.spinner-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.223);
  z-index: 10000;
}
.spinner-border {
  color: #fff;
  width: 80px;
  height: 80px;
}
i {
  font-size: 20px;
  cursor: pointer;
}

/* Home page */
.sidebar {
  height: 88vh;
  background: #e2e2e2;
  padding: 30px;
  background: #dbdbdb;
}
.sidebar p {
  cursor: pointer;
  margin: 20px 20px;
  color: #000;
  font-weight: 300;
}
.sidebar p:hover {
  color: black;
  font-weight: 900;
}
.sidebar p span {
  font-weight: 900;
  font-size: 22px;
  color: #000;
  margin: 20px 0px !important;
}
.sidebar button {
  border: none;
  margin: 0px 10px;
  font-size: 13px;
  padding: 8px 20px;
  border-radius: 8px;
  background: #5a5a5a;
  color: #fff;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 21px;
  gap: 10px;
}
.mainbar {
  overflow-y: scroll;
  height: 78vh;
}
.productList {
  height: 83vh !important;
  margin-top: 30px;
}
.productList h2 {
  text-align: center;
}
.productList-head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
.productList-head button {
  width: 200px;
  border-radius: 10px;
  margin-right: 30px;
}
.card {
  text-align: center;
}
a {
  text-decoration: none !important;
  color: rgb(1, 1, 5);
}
.card img {
  height: 100px;
  width: 149px;
  margin-left: auto;
  margin-right: auto;
}
.card-text {
  font-size: 13px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }
  .sidebar button {
    margin: 10px 10px;
  }
  .sidebar p span {
    font-weight: 900;
    font-size: 17px;
    color: #000;
    text-shadow: 0px 1px 0px black;
  }
  .productList-head button {
    width: 150px;
    border-radius: 10px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .heading {
    margin: 0px 45px;
  }
  .product {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sidebar-h2 {
    height: fit-content;
    margin-top: 200px !important;
  }
  .productList-head button {
    width: 150px;
    border-radius: 10px;
    margin-right: 0px;
  }
}
/* modal */
.close-modal {
  position: absolute;
  top: 10;
  right: 0;
  background-color: rgb(220, 12, 12);
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}
.addproduct-form {
  margin: 30px 10px;
  padding: 20px 0px;
}
.form-input {
  margin: 20px 0px;
}
/*edit-delete-btn*/
.edit-delete-btn {
  display: flex;
  justify-content: end;
  gap: 10px;
  background-color: none !important;
}
.delete-btn {
  padding: 3px;
  border-radius: 5px;
  background-color: none !important;
  border: none;
}
.delete-btn:hover {
  color: blue;
}

/* header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 128);
  padding: 10px 20px;
  color: white;
  height: 10vh;
}

.logo {
  font-size: 1.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: rgb(0, 0, 128);
  color: white;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 128);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #555;
}

/* Show dropdown content when dropdown button is clicked */
.dropdown.clicked .dropdown-content {
  display: block;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown {
    margin-top: 10px;
  }

  .dropdown-content {
    width: 100%;
  }

  .dropdown-content a {
    width: 100%;
    box-sizing: border-box;
  }
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-control {
  font-size: 13px !important;
}

/* password hid & show */
.password-input-container {
  display: flex !important;
  flex-direction: column;
}
.password-input-wrapper {
  position: relative;
  display: flex;
}
.password-input-wrapper button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 4px;
  color: #007bff;
}

/* home-page */
.home-page {
  margin-top: 5px;
  background: #f8f8f8;
}
